<ion-header [translucent]="true">
  <ion-toolbar color="primary" >
    <ion-title style="font-size: xx-large;" class="ion-text-center">
      Ionic Image
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
   <h3 *ngIf="images.length == 0" class="ion-padding ion-text-center" style="font-weight: bold; font-size: x-large;">UPLOAD AN IMAGE!</h3>

   <ion-list style=" min-height: 100px;">
     <ion-item *ngFor="let file of images" style=" min-height: 100px;">
       <ion-thumbnail slot="start" style="height: max-content; width: max-content;">
        <img [src]="file.data" style="height: 100px; width: max-content;" />
      </ion-thumbnail>
        <ion-label class="ion-text-wrap" style="font-size: x-large;">
          {{file.name}}
        </ion-label>

        <ion-button slot="end" fill="clear" (click)="startUpload(file)">
          <ion-icon style="zoom:2.0;" slot="icon-only" name="cloud-upload"></ion-icon>
        </ion-button>
        <ion-button slot="end" fill="clear" (click)="deleteImage(file)">
          <ion-icon style="zoom:2.0;" slot="icon-only" name="trash-bin"></ion-icon>
        </ion-button>

      
     </ion-item>
   </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary" >
    <ion-button fill="clear" expand="full" color="light" (click)="selectImage()" class="ion-text-center">
      <ion-icon style="zoom:3.0;" name="cloud-upload"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>
